[Unit]
Description=Precision Time Protocol (PTP) service
Documentation=man:ptp4l
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/ptp4l -f /etc/linuxptp/ptp4l.conf

[Install]
WantedBy=multi-user.target
